<html>
    <body style="margin: 0px; padding-top: 0px;">
        <br>
        <br>
        <br>
        <h1>SpotMate</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>How does your music stack up to your friends'?</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="loginC">
            <input type="text" [(ngModel)]="name">
            <a [routerLink]="['/user', name]">
                <button>login -></button>
            </a>
        </div>
        <br>
    </body>
</html>
